{% load static %}
<!DOCTYPE html>
<header>

</header>

<body>
    <div class="button-container">
        <form action="/" id="brightness-form">
            <label for="brightness-input">Brightness: </label>
            <input type="text" id="brightness-input">
            <button>Press Me!</button>
        </form>
        
    </div>
    <div class="button-container">
        <label for="button1">Button 1</label>
        <button id="button1" onclick="test()">Press Me!</button>
    </div>
    <div class="button-container">
        <label for="button2">Button 2</label>
        <button id="button2" onclick="test()">Press Me!</button>
    </div>
    <div class="button-container">
        <label for="button3">Button 3</label>
        <button id="button3" onclick="test()">Press Me!</button>
    </div>
    <div class="button-container">
        <label for="button4">Button 4</label>
        <button id="button4" onclick="test()">Press Me!</button>
    </div>
    <div class="button-container">
        <label for="button5">Button 5</label>
        <button id="button5" onclick="test()">Press Me!</button>
    </div>
    <div class="button-container">
        <label for="button6">Button 6</label>
        <button id="button6" onclick="test()">Press Me!</button>
    </div>
    
</body>

<footer>
    {% comment %} <script src="{% static 'script.js' %}"></script> {% endcomment %}
</footer>